body{
    background: rgb(158, 233, 230);
}
*{
    
    font-family: orbitron;
}

.container{
    width: 450px;
    min-height: 500px;
    max-height: 100vh;
    /*border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: auto;*/
    background: linear-gradient(135deg, #d3d836, #38bfe9);
    /* width: 90%;
    max-width: 470px; */
    /* background: linear-gradient(135deg, #08e8ec, #d464e2); */
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type=text]{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    border: 20px solid #edeef0;
    outline: none; */
    border: 0;
    outline: 0;
    background: #e0e4e4;
    color: #000000;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

input[type=button]{
    /* background: #fc802d;
    border-radius: 30px;
    border: 20px solid #fc802d;
    outline: none; */
    border: none;
    outline: none;
    background: #fc802d;
    color: #000000;
    border-radius: 30px;
    height: 70px;
    width: 100px;
    cursor: pointer; 
}



#list_item{
    line-height: 30px;
    letter-spacing: 2px;
    position: absolute;
    left: 40%;
    color: #000000;
    align-items: start;
}


h1{
    text-align: center;
    color: black;
}